* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d1b2a; /* Синий фон */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
    user-select: none; /* Отключаем выделение текста */
}

.main-conteiner {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #282e33;
}


.top-bar {
    display: flex;
    justify-content: flex-end;  
    margin-bottom: 1px;
}

.settings-icon {
    border: none;
    background: none;
    padding: 8px;
    border-radius: 20%;
}


.settings-icon i {
    font-size: 24px;
    color: #ffffff;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.settings-icon:hover {
    background-color: rgba(0, 168, 120, 0.2);
}

.settings-icon:active {
    background-color: rgba(0, 168, 120, 0.3);
    transform: scale(0.9);
}



/* Общий баланс $ */
.overall-balance {
    text-align: center;
}

.overall-balance span {
    color: #82868a; /* Серый цвет текста */
    font-size: 14px; /* Размер шрифта */
}

.overall-balance h2 {
    color: #ffffff;
    font-size: 35px;
    margin-top: 1px;
}


/* Кнопки действий */
.main-actions {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    gap: 10px; /* Расстояние между кнопками */
    margin-top: 5px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn {
    border: none;
    background: none;
    padding: 10px 15px; /* Внутренний отступ */
    border-radius: 15px; /* Скруглённые углы */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
    color: #3fc1b0;
}

.icon-btn i {
    font-size: 35px; /* Размер иконки */
    color: #3fc1b0;
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
}

.icon-btn span {
    font-size: 14px; /* Размер текста */
    color: #3fc1b0;
    font-weight: bold;
    text-align: center;
}

.icon-btn:hover {
    background-color: rgba(0, 168, 120, 0.2);
    transform: scale(1.05); /* Лёгкое увеличение при наведении */
}

.icon-btn:active {
    background-color: rgba(0, 168, 120, 0.3);
    transform: scale(0.95); /* Лёгкое уменьшение при нажатии */
}

.divider {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 7px; /* Толщина линии */
    background-color: #313b43; /* Цвет линии (серый) */
    margin: 10px 0; /* Отступ сверху и снизу */
    opacity: 0.6; /* Прозрачность для более мягкого вида */
}




