* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d1b2a; /* Синий фон */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
    user-select: none; /* Отключаем выделение текста */
}

.main-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #282e33;
}


.top-bar {
    display: flex;
    justify-content: flex-end;  
    margin-bottom: 1px;
}

.settings-icon {
    border: none;
    background: none;
    padding: 8px;
    border-radius: 20%;
}


.settings-icon i {
    font-size: 24px;
    color: #ffffff;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.settings-icon:hover {
    background-color: rgba(0, 168, 120, 0.2);
}

.settings-icon:active {
    background-color: rgba(0, 168, 120, 0.3);
    transform: scale(0.9);
}



/* Общий баланс $ */
.overall-balance {
    text-align: center;
}

.overall-balance span {
    color: #82868a; /* Серый цвет текста */
    font-size: 14px; /* Размер шрифта */
    font-weight: bold;
}

.overall-balance h2 {
    color: #ffffff;
    font-size: 35px;
    margin-top: 1px;
}


/* Кнопки действий */
.main-actions {
    display: flex;
    justify-content: center; /* Центрируем кнопки */
    gap: 10px; /* Расстояние между кнопками */
    margin-top: 5px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn {
    border: none;
    background: none;
    padding: 10px 15px; /* Внутренний отступ */
    border-radius: 15px; /* Скруглённые углы */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s ease, transform 0.2s ease;
    color: #3fc1b0;
}

.icon-btn i {
    font-size: 35px; /* Размер иконки */
    color: #3fc1b0;
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
}

.icon-btn span {
    font-size: 14px; /* Размер текста */
    color: #3fc1b0;
    font-weight: bold;
    text-align: center;
}

.icon-btn:hover {
    background-color: rgba(0, 168, 120, 0.2);
    transform: scale(1.05); /* Лёгкое увеличение при наведении */
}

.icon-btn:active {
    background-color: rgba(0, 168, 120, 0.3);
    transform: scale(0.95); /* Лёгкое уменьшение при нажатии */
}

.divider {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 7px; /* Толщина линии */
    background-color: #313b43; /* Цвет линии (серый) */
    margin: 10px 0; /* Отступ сверху и снизу */
    opacity: 0.6; /* Прозрачность для более мягкого вида */
}


.profile-container {
    padding-left: 15px; /* Отступ от левой границы */
}


.profile {
    display: flex;
    align-items: center; /* Центрируем элементы по вертикали */
    gap: 8px; /* Расстояние между элементами */
}

.profile span {
    font-size: 14px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    color: #3fc1b0; /* Белый цвет текста */
}

.profile i {
    font-size: 18px; /* Размер иконок */
    color: #3fc1b0; /* Зеленый цвет для иконки проверки */
}

.profile i.fa-circle-exclamation {
    color: #ffc107; /* Желтый цвет для иконки предупреждения */
}

/* Стили для ID и подписи */
.account-id {
    margin-top: 10px; /* Отступ сверху от значков */
}

.id-number {
    font-size: 18px; /* Размер текста для ID */
    font-weight: bold; /* Жирный текст для ID */
    color: #ffffff; /* Белый цвет текста */
}

.id-label {
    margin-top: 3px;
    font-size: 14px; /* Размер текста для подписи */
    color: #82868a; /* Серый цвет для подписи */
    font-weight: bold;
}


.id-container {
    display: flex;
    align-items: center; /* Выравниваем элементы по вертикали */
    gap: 5px; /* Отступ между ID и кнопкой */
}

.copy-btn {
    border: none;
    background: none;
    color: #3fc1b0; /* Зеленый цвет кнопки */
    transition: color 0.2s ease;
}

.copy-btn i {
    font-size: 14px;
}

.copy-btn:hover {
    color: #00d09c; /* Более яркий зеленый цвет при наведении */
}

.copy-btn:active {
    transform: scale(0.9); /* Легкое уменьшение при нажатии */
}

/* Уведомление */
.copy-notification {
    position: fixed;
    top: 20px; /* Расположить в верхней части */
    left: 50%;
    transform: translateX(-50%);
    background-color: #3fc1b0;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 1000;
    animation: fade-in-out 2s ease; /* Анимация появления и исчезновения */
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}



.stats-container {
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
    color: #d9e2ec; /* Основной цвет текста */
}

.stats-all {
    color: #ffffff; /* Белый цвет */
    font-weight: bold;
}

.stats-win {
    color: #04bd88; /* Зеленый цвет для прибыльных */
    font-weight: bold;
}

.stats-loss {
    color: #ff0000; /* Красный цвет для убыточных */
    font-weight: bold;
}

.stats-label {
    margin-top: 3px;
    color: #82868a; /* Серый цвет текста подписи */
    font-size: 14px;
    font-weight: bold;
}


.info-btn {
    border: none;
    background: none;
    color: #3fc1b0; /* Цвет кнопки */
    margin-left: 5px; /* Отступ от статистики */
    transition: color 0.2s ease, transform 0.2s ease;
}

.info-btn i {
    font-size: 18px; /* Размер иконки */
}

.info-btn:hover {
    color: #3fc1b0; /* Цвет при наведении */
}

.info-btn:active {
    transform: scale(0.9); /* Легкое уменьшение при нажатии */
}


.trade-volume-container {
    margin-top: 10px; /* Отступ сверху */
    text-align: left; /* Выравнивание текста по левому краю */
    font-size: 18px;
    color: #d9e2ec; /* Основной цвет текста */
}

.trade-volume-amount {
    font-size: 18px; /* Размер текста для объема */
    font-weight: bold; /* Жирный текст */
    color: #ffffff; /* Белый цвет */
    margin: 0; /* Убираем отступы */
}

.trade-volume-label {
    margin-top: 3px; /* Отступ между суммой и текстом */
    font-size: 14px; /* Размер текста для подписи */
    color: #82868a; /* Серый цвет для подписи */
    font-weight: bold;
}

/* Контейнер для валютных счетов */
.currency-accounts-container {
    padding-left: 15px; /* Отступ от левой границы */
    padding-right: 15px;
    margin-top: 0px;
}

/* Заголовок секции */
.currency-title {
    font-size: 14px;
    font-weight: bold;
    color: #3fc1b0;
    margin-bottom: 10px;
}

/* Контейнер для валютных счетов */
.currency-accounts-container {
    padding-left: 15px; /* Отступ от левой границы */
    padding-right: 15px;
    margin-top: 0px;
}

/* Заголовок секции */
.currency-title {
    font-size: 14px;
    font-weight: bold;
    color: #3fc1b0;
    margin-bottom: 10px;
}

/* Элементы валютных счетов */
.currency-item {
    position: relative; /* Для псевдоэлемента */
    display: flex;
    justify-content: space-between; /* Разделяем название и сумму */
    align-items: center;
    padding: 10px 0px;
    transition: background-color 0.2s ease;
    border-radius: 15px; /* Закруглённые углы */
    cursor: pointer;
    z-index: 1; /* Для выделения над фоном */
}

.currency-item:focus-within::before,
.currency-item:hover::before {
    content: ""; /* Пустой псевдоэлемент для выделения */
    position: absolute;
    top: 0;
    left: -15px; /* Сдвиг влево, чтобы покрыть весь экран */
    width: calc(100% + 30px); /* Учитываем сдвиг (2 * 15px) */
    height: 100%; /* Полная высота элемента */
    background-color: rgba(63, 193, 176, 0.2); /* Цвет выделения */
    z-index: -1; /* Под контент */
    border-radius: 15px; /* Закруглённые углы */
}


/* Информация о валюте */
.currency-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между кругом и текстом */
}

/* Зелёный круг с символом */
.currency-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Размер круга */
    height: 40px;
    border-radius: 50%;
    background-color: #04bd88; /* Зелёный цвет фона */
    color: #ffffff; /* Тёмный цвет текста */
    font-size: 30px; /* Размер символа */
}

/* Название валюты */
.currency-name {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

/* Сумма валюты */
.currency-amount {
    font-size: 18px; /* Размер текста для суммы */
    color: #ffffff; /* Белый цвет суммы */
    font-weight: bold;
    text-align: right; /* Выравнивание по правому краю */
    align-self: flex-start; /* На одном уровне с названием */
}

/* Текущий курс валюты */
.currency-rate {
    font-size: 14px; /* Размер текста для курса */
    color: #82868a; /* Серый цвет текста */
    margin-top: 2px; /* Отступ сверху */
    font-weight: normal; /* Нормальный вес текста */
}

/* Детали валюты */
.currency-details {
    display: flex;
    flex-direction: column; /* Название сверху, курс снизу */
}



